main {
    text-align: center;
}
.title {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 40px;
    color: #212529;
}
.title.main {
    max-width: 400px;
}
.title.secondary {
    max-width: 605px;
}
.title.secondary ~ div .text:first-child {
    margin-bottom: 20px;
}
.text-content-wrapper{
    margin: 0 auto 80px;
    max-width: 816px;
}
.text {
    text-align: left;
    color: #6C757D;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 40px;
}
.footer-images-wrapper{
    font-size: 0;
    max-width: 1240px;
    margin: 0 auto 80px;
}
.footer-images-wrapper :first-child {
    margin-right: 30px;
}
footer div {
    margin-bottom: 80px;
}
footer div img:first-child{
    margin-right: 30px;
}